In [ ]:
import pandas as pd

In [ ]:
# from google.colab import drive
# drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# cd '/content/gdrive/MyDrive/CMPE_256-Prg_Ass1_014749488'

/content/gdrive/MyDrive/CMPE_256-Prg_Ass1_014749488

In [ ]:
fastai = pd.read_csv('output/predictions_Fast_ai.csv',index_col=False)
surprise_svd = pd.read_csv('output/predictions-svd-75.csv',index_col=False)

In [ ]:
submission = pd.read_csv('output/predictions_Fast_ai.csv',index_col=False)

In [ ]:
submission['rating'] = (0.3 * fastai['rating']) + (0.7 * surprise_svd['rating'])

In [ ]:
submission.head(2)

  user_id-book_id    rating
0   20989-1832332  1.044755
1    37040-191139  3.214288

In [ ]:
submission.to_csv('output/final_submission.csv',index=False)